.searchBarResults{
    display:flex;
    
    background-color:#121212;
    z-index:100;
    width:100vw;
    align-items:center;
    justify-content: center;
    border-bottom: 1px solid rgba(124, 123, 123, 0.158);
    text-decoration:none;
    color:white;
    padding:.5rem 1rem .5rem 1.5rem;
}
.searchBarResults a{
    text-decoration:none;
}
.searchBarResults:hover{
    background-color: green;
    
}
.category{
    padding: 0 0 0 1rem;
    
    background-color: rgba(90, 88, 90, 0.253);
}
.searchBarLink{
    width:100%;
    display:flex;
    
    align-items:center;
}
.searchBarLink h2{
    font-weight: 400;
}
.searchBarLink__image{
    width:2rem;
    margin-right:1.5rem;
}
.searchBarLink__image img{
    width:100%; 
}
