.profile-image{
    position:relative;
    display:flex;
    height:2.5rem;
    width:2.5rem;
    margin-right:.5rem;
}
.profile-image img{
    width:100%;
    height:100%;
    object-fit: cover;
    
}
.profile-description{
    position:relative;
    display:flex;
    align-items:ceil;
    justify-self: center;
}
.replies{
    margin-left:2.5rem;
}