.movie-list{
    position: relative;
    display:flex;
    align-items:baseline;
    
    overflow-y: hidden;
    padding:0 0rem 0 0rem;
    width:95vw;
    
}
.movie-list::-webkit-scrollbar{
    display:none;
}
.forward{
    position: absolute;
    width:3rem;
    height:3rem;
    z-index:100;
    float:left;
    
    font-size:2rem;
}
.back{
    position:absolute;
    width:3rem;
    height:3rem;
    z-index:100;
     
    right:0;
    font-size:2rem;
}
.movie-row{
    display:flex;
    align-items: center;
}
